body{
    background-color: #f69714 ;
}
#logo2{
    max-width: 350px;
    width: auto;
    max-height: 150px;
    height: auto;
}
svg{
    color: white;
    
}


map{
    max-width: 500 px;
    width: 100%;
    height: auto;
    max-height: 300px;
}