#logo2{
    max-width: 350px;
    width: auto;
    max-height: 150px;
    height: auto;
    margin-top: 10;
}
svg{
    color: white;
}

#container1{
    background-color: #f69714 ;
}

body{
    background-color: #f69714 ;
    margin-bottom: 0;
}

#containerlogo2{
    background-color: white;
    height: auto;
}